* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(168, 172, 186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.container {
    border: 5px solid black;
    border-radius: 5px;
    background-color: hsl(240, 11%, 33%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5px;

}

.row-1 {
    display: flex;
    
}

.row-2 {
    display: flex;
  
}

.row-3 {
    display: flex;

   
}

.row-4 {
    display: flex;
    
}

.row-5 {
    display: flex;

 
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
    border: 5px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    font-size: 30px;
}

.btn {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 30px;
    background-color: rgb(16, 29, 54);
    color: white;
}

.btn:hover {
    background-color: rgb(25, 46, 86);
}

.btn:active {
    background-color: rgb(38, 73, 139);
}

.btn-op {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 30px;
    color: white;
    background-color: rgb(181, 82, 11);
}

.btn-op:hover {
    background-color: rgb(215, 103, 23);
}

.btn-op:active {
    background-color: rgb(255, 125, 31);
}


